<?xml version="1.0"?>
<config>

<global>
  <models>
    <mworks_ajaxproductlist>
      <class>Mworks_Ajaxproductlist_Model</class>
    </mworks_ajaxproductlist>
  </models>
  <helpers>
      <mworks_ajaxproductlist>
          <class>Mworks_Ajaxproductlist_Helper</class>
      </mworks_ajaxproductlist>
  </helpers>
</global>

<frontend>
  <events>
    <controller_action_layout_render_before>
      <observers>
        <mworks_ajaxproductlist_list>
          <type>singleton</type>
          <class>mworks_ajaxproductlist/observer</class>
          <method>getProductList</method>
        </mworks_ajaxproductlist_list>
      </observers>
    </controller_action_layout_render_before>
  </events>
</frontend>

<adminhtml>
  <acl>
    <resources>
      <all>
        <title>Allow Everything</title>
      </all>
      <admin>
        <children>
          <system>
            <children>
              <config>
                <children>
                  <mworks_ajaxproductlist>
                    <title>Ajax Product List</title>
                  </mworks_ajaxproductlist>
                </children>
              </config>
            </children>
          </system>
        </children>
      </admin>
    </resources>
  </acl>
</adminhtml>

</config>