<config>
	<tabs>
		<mworks translate="label" module="mworks_ajaxproductlist">
			<label>Mworks Modules</label>
			<sort_order>100</sort_order>
		</mworks>
	</tabs>
    <sections>
        <mworks_ajaxproductlist translate="label">
            <label>Ajax Product Load</label>
            <tab>mworks</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    </fields>
                </settings>             
            </groups>
        </mworks_ajaxproductlist>
    </sections>
</config>
