<?xml version="1.0"?>
<config>
    <modules>
        <Mapmygenomie_Pixel>
            <version>1.0.0</version>
        </Mapmygenomie_Pixel>
    </modules>
    <global>
        <helpers>
            <mapmygenomie_pixel>
                <class>Mapmygenomie_Pixel_Helper</class>
            </mapmygenomie_pixel>
        </helpers>
        <blocks>
            <mapmygenomie_pixel>
                <class>Mapmygenomie_Pixel_Block</class>
            </mapmygenomie_pixel>
        </blocks>        
    </global>   
    <frontend>
        <layout>
            <updates>
                <mapmygenomie_pixel>
                    <file>mapmygenomie_pixel.xml</file>
                </mapmygenomie_pixel>
            </updates>
        </layout>
         <events>               
            <customer_register_success>
                <observers>
                    <mapmygenomie_pixel>                 
                        <class>Mapmygenomie_Pixel_Model_Observer</class>
                        <method>registerSuccessPixel</method>                    
                    </mapmygenomie_pixel>
                </observers>
            </customer_register_success>
        </events>
    </frontend>
</config>