<?xml version="1.0"?>
<config>
    <modules>
        <Mapmygenomie_Compare>
            <version>0.0.1</version>
        </Mapmygenomie_Compare>
    </modules>
    <global> 			
        <helpers>
            <mapmygenomie_compare>
                <class>Mapmygenomie_Compare_Helper</class>
            </mapmygenomie_compare>
        </helpers>
        <blocks>
            <mapmygenomie_compare>
                <class>Mapmygenomie_Compare_Block</class>
            </mapmygenomie_compare>
        </blocks>
        <models>
            <mapmygenomie_compare>
                <class>Mapmygenomie_Compare_Model</class>
                <resourceModel>mapmygenomie_compare_resource</resourceModel>
            </mapmygenomie_compare>
            <mapmygenomie_compare_resource>
                <class>Mapmygenomie_Compare_Model_Resource</class>
                <entities>
                    <hashcode>
                        <table>mapmygenomie_compare_hascode</table>
                    </hashcode>
                </entities>
            </mapmygenomie_compare_resource>
        </models>
        <resources>
            <mapmygenomie_compare_setup>
                <setup>
                    <module>Mapmygenomie_Compare</module>
                </setup>
            </mapmygenomie_compare_setup>
        </resources> 
    </global>

    <frontend>
        <layout>
            <updates>
                <mapmygenomie_compare>
                    <file>mapmygenomie_compare.xml</file>
                </mapmygenomie_compare>
            </updates>
        </layout>
        <routers>
            <mapmygenomie_compare>
                <use>standard</use>
                <args>
                    <module>Mapmygenomie_Compare</module>
                    <frontName>product-matrix</frontName>
                </args>
            </mapmygenomie_compare>
        </routers>        
    </frontend> 
    
    <adminhtml>
        <layout>
            <updates>
                <mapmygenomie_compare>
                    <file>mapmygenomie_compare.xml</file>
                </mapmygenomie_compare>
            </updates>
        </layout>
        <events> 
             <!-- <core_block_abstract_to_html_before>
                <observers>
                    <easylife_switcher>
                        <class>mapmygenomie_compare/observer</class>
                        <method>addDefaultColumn</method>
                    </easylife_switcher>
                </observers>
            </core_block_abstract_to_html_before>-->
                    
            <!-- Save images associated with attribute options -->
            <controller_action_postdispatch_adminhtml_catalog_product_attribute_save>
                <observers>
                    <mapmygenomie_compare>
                        <class>mapmygenomie_compare/optimage</class>
                        <method>uploadAndSaveImages</method>
                    </mapmygenomie_compare>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_attribute_save>
            <adminhtml_cache_flush_all>
                <observers>
                    <mapmygenomie_compare>
                        <class>mapmygenomie_compare/optimage</class>
                        <method>cleanOptImages</method>
                    </mapmygenomie_compare>
                </observers>
            </adminhtml_cache_flush_all>
            <adminhtml_cache_flush_system>
                <observers>
                    <mapmygenomie_compare>
                        <class>mapmygenomie_compare/optimage</class>
                        <method>cleanOptImages</method>
                    </mapmygenomie_compare>
                </observers>
            </adminhtml_cache_flush_system>
            <clean_media_cache_after>
                <observers>
                    <mapmygenomie_compare>
                        <class>mapmygenomie_compare/optimage</class>
                        <method>cleanOptImages</method>
                    </mapmygenomie_compare>
                </observers>
            </clean_media_cache_after>
            <clean_catalog_images_cache_after>
                <observers>
                    <mapmygenomie_compare>
                        <class>mapmygenomie_compare/optimage</class>
                        <method>cleanOptImages</method>
                    </mapmygenomie_compare>
                </observers>
            </clean_catalog_images_cache_after>
        </events>
        <!--<translate>
            <modules>
                <Easylife_Switcher>
                    <files>
                        <default>Easylife_Switcher.csv</default>
                    </files>
                </Easylife_Switcher>
            </modules>
        </translate>-->
    </adminhtml>  
     <default>
        <mapmygenomie_compare>
            <settings>
                <enabled>1</enabled>
                <transform_dropdowns>1</transform_dropdowns>
                  <use_option_images>color</use_option_images>
                  
              <!-- <autoselect_first>1</autoselect_first>
                <show_added_prices>1</show_added_prices>
                <out_of_stock>1</out_of_stock>
                <use_images>color</use_images>
                <image_attribute>small_image</image_attribute>
                <change_images>1</change_images>
                <change_image_attribtues>color</change_image_attribtues>
                <change_media_attribtues>color</change_media_attribtues>
                <image_selector>$('image')</image_selector>
                <image_change_callback>$('image').setStyle({width:'', height:''});$('image').up().addClassName('product-image-zoom');product_zoom = new Product.Zoom('image', 'track', 'handle', 'zoom_in', 'zoom_out', 'track_hint');</image_change_callback>
                <media_selector>$$('.product-view .product-img-box')[0]</media_selector>
                <media_change_callback>product_zoom = new Product.Zoom('image', 'track', 'handle', 'zoom_in', 'zoom_out', 'track_hint');</media_change_callback>
                <allow_no_stock_select>1</allow_no_stock_select>
             
                <options_image_resize>40</options_image_resize>-->
            </settings>
        </mapmygenomie_compare>
    </default>
</config>
