<?xml version="1.0"?>
<config>
    <modules>
        <Mmg_Registerkit>
            <version>0.1.0</version>
        </Mmg_Registerkit>
    </modules>
    <frontend>
        <routers>
            <registerkit>
                <use>standard</use>
                <args>
                    <module>Mmg_Registerkit</module>
                    <frontName>kit</frontName>
                </args>
            </registerkit>
        </routers>
        <layout>
            <updates>
                <mmg_registerkit>
                    <file>mmg/mmg_registerkit.xml</file>
                </mmg_registerkit>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <mmg_registerkit>
                <class>Mmg_Registerkit_Model</class>
                <resourceModel>mmg_registerkit_resource</resourceModel>
            </mmg_registerkit>
            <mmg_registerkit_resource>
                <class>Mmg_Registerkit_Model_Resource</class>
            </mmg_registerkit_resource>
        </models>
        <blocks>
            <registerkit>
                <class>Mmg_Registerkit_Block</class>
            </registerkit>
        </blocks>
        <helpers>
            <mmg_registerkit>
                <class>Mmg_Registerkit_Helper</class>
            </mmg_registerkit>
        </helpers>
        <resources>
            <mmg_registerkit_setup>
                <setup>
                    <module>Mmg_Registerkit</module>
                </setup>
            </mmg_registerkit_setup>
        </resources>
    </global>
</config>