<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <SmsWeb_SMSNotifications>
            <version>0.1.5</version>
        </SmsWeb_SMSNotifications>
    </modules>
    <global>
        <models>
            <smsnotifications>
                <class>SmsWeb_SMSNotifications_Model</class>
            </smsnotifications>
        </models>
        <helpers>
            <smsnotifications>
                <class>SmsWeb_SMSNotifications_Helper</class>
            </smsnotifications>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_smsnotifications>
                <observers>
                    <smsnotifications>
                        <type>singleton</type>
                        <class>smsnotifications/observer</class>
                        <method>configSaveAfter</method>
                    </smsnotifications>
                </observers>
            </admin_system_config_changed_section_smsnotifications>
        </events>
    </adminhtml>
    <global>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <smsnotifications>
                        <type>singleton</type>
                        <class>smsnotifications/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </smsnotifications>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_invoice_save_after>
                <observers>
                    <smsnotifications>
                        <type>singleton</type>
                        <class>smsnotifications/observer</class>
                        <method>salesOrderInvoiceSaveAfter</method>
                    </smsnotifications>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_save_after>
                <observers>
                    <smsnotifications>
                        <type>singleton</type>
                        <class>smsnotifications/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </smsnotifications>
                </observers>
            </sales_order_save_after>
			<checkout_onepage_controller_success_action>
                <observers>
                    <smsnotifications>
                        <type>singleton</type>
                        <class>smsnotifications/observer</class>
                        <method>orderSucessNotification</method>
                    </smsnotifications>
                </observers>
            </checkout_onepage_controller_success_action>
			<customerenquiry_index_controller_save_action>
                <observers>
                    <smsnotifications>
                        <type>singleton</type>
                        <class>smsnotifications/observer</class>
                        <method>twenty23ReportNotification</method>
                    </smsnotifications>
                </observers>
            </customerenquiry_index_controller_save_action>
        </events>
    </global>
 </config>