<?xml version="1.0"?>
<config>
	<modules>
		<Insync_HomepageBanner>
			<version>3.0.1</version>
		</Insync_HomepageBanner>
	</modules>
	<global>
		<blocks>
			<homepagebanner>
				<class>Insync_HomepageBanner_Block</class>
			</homepagebanner>
		</blocks>
		<models>
			<homepagebanner>
				<class>Insync_HomepageBanner_Model</class>
				<resourceModel>homepagebanner_mysql4</resourceModel>
			</homepagebanner>
			<homepagebanner_mysql4>
				<class>Insync_HomepageBanner_Model_Mysql4</class>
				<entities>
					<banner>
						<table>home_pagebanner</table>
					</banner>
					<urls>
						<table>home_pagebanner_urls</table>
					</urls>
				</entities>
			</homepagebanner_mysql4>
		</models>
		<helpers>
			<homepagebanner>
				<class>Insync_HomepageBanner_Helper</class>
			</homepagebanner>
		</helpers>
		<resources>
			<homepagebanner_setup>
				<setup>
					<module>Insync_HomepageBanner</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</homepagebanner_setup>
			<homepagebanner_write>
				<connection>
					<use>core_write</use>
				</connection>
			</homepagebanner_write>
			<homepagebanner_read>
				<connection>
					<use>core_read</use>
				</connection>
			</homepagebanner_read>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<homepagebanner>
					<file>banner.xml</file>
				</homepagebanner>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<homepagebanner>
				<use>admin</use>
				<args>
					<module>Insync_HomepageBanner</module>
					<frontName>homepagebanner</frontName>
				</args>
			</homepagebanner>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Insync_HomepageBanner>
					<files>
						<default>Insync_HomepageBanner.csv</default>
					</files>
				</Insync_HomepageBanner>
			</modules>
		</translate>
        	<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<homepagebanner>
											<title>Homepage Banner</title>
										</homepagebanner>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<menu>
			<cms>              
				<children>
					<banner module="homepagebanner">
						<title>Homepage Banner</title>
						<sort_order>40</sort_order>
						<action>homepagebanner/adminhtml_banner</action>
					</banner>
				</children>
			</cms>
		</menu>
		<layout>
			<updates>
				<homepagebanner>
					<file>banner.xml</file>
				</homepagebanner>
			</updates>
		</layout>
	</adminhtml>
</config>