<?xml version="1.0"?>
<config>
    <modules>
        <Feet_Homepageblocks>
            <version>0.1.3</version>
        </Feet_Homepageblocks>
    </modules>
    <frontend>
        <routers>
            <homepageblocks>
                <use>standard</use>
                <args>
                    <module>Feet_Homepageblocks</module>
                    <frontName>homepageblocks</frontName>
                </args>
            </homepageblocks>
        </routers>
        <layout>
            <updates>
                <homepageblocks>
                    <file>homepageblocks.xml</file>
                </homepageblocks>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <homepageblocks>
                <use>admin</use>
                <args>
                    <module>Feet_Homepageblocks</module>
                    <frontName>homepageblocks</frontName>
                </args>
            </homepageblocks>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>              
                <children>
                    <items module="homepageblocks">
                        <title>Homepage Blocks</title>
                        <sort_order>50</sort_order>
                        <action>homepageblocks/adminhtml_homepageblocks</action>
                    </items>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Feet_Homepageblocks>
                            <title>Homepageblocks Module</title>
                            <sort_order>10</sort_order>
                        </Feet_Homepageblocks>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <homepageblocks>
                    <file>homepageblocks.xml</file>
                </homepageblocks>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <homepageblocks>
                <class>Feet_Homepageblocks_Model</class>
                <resourceModel>homepageblocks_mysql4</resourceModel>
            </homepageblocks>
            <homepageblocks_mysql4>
                <class>Feet_Homepageblocks_Model_Mysql4</class>
                <entities>
                    <homepageblocks>
                        <table>homepageblocks</table>
                    </homepageblocks>
                </entities>
            </homepageblocks_mysql4>
        </models>
        <resources>
            <homepageblocks_setup>
                <setup>
                    <module>Feet_Homepageblocks</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </homepageblocks_setup>
            <homepageblocks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </homepageblocks_write>
            <homepageblocks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </homepageblocks_read>
        </resources>
        <blocks>
            <homepageblocks>
                <class>Feet_Homepageblocks_Block</class>
            </homepageblocks>
        </blocks>
        <helpers>
            <homepageblocks>
                <class>Feet_Homepageblocks_Helper</class>
            </homepageblocks>
        </helpers>
    </global>
</config>