<?xml version="1.0"?>
<config>
    <sections>
        <contacts>
            <groups>
                <mapmygenomie_career translate="label" module="mapmygenomie_career">
                    <label>Career Page</label>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <career_request_email translate="label">
                            <sort_order>10</sort_order>
                            <label>Email to Receive Requests</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated.</comment>
                        </career_request_email>
                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template>
                    </fields>
                </mapmygenomie_career>				
            </groups>
        </contacts>
    </sections>
</config>